figcaption {
  width: 100%;
}

.heading-row {
  margin-top: -4px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}

.heading-label {
  flex-grow: 1;
      margin-top: 4px;
      max-width: 100%;
      word-wrap: break-word;
}

.heading-right {
  flex-grow: 0;
}

button {
  width: 100%;
        display: block;
        background: none;
        border: 0;
        padding: 0;
}

button::-moz-focus-inner {
  border: 0;
        padding: 0;
}

button:-moz-focusring {
  outline: none;
        box-shadow: 0px 0px 1px 2px Highlight;
}

:host {
  display: block;
        width: 350px;
        height: auto;
        position: relative;
        margin: 0 15px 40px 0;
        overflow-x: auto;
}

:host([actual-size]) {
  max-width: 100%;
        width: auto;
}

:host([actual-size]) #main-image-container {
  max-height: none;
        width: auto;
}

:host([actual-size]) #main-image-container img {
  width: auto;
}

paper-spinner-lite {
  width: 14px;
        height: 14px;
        vertical-align: text-bottom;
        --paper-spinner-color: var(--tb-orange-strong);
}

#steps {
  height: 15px;
        margin: 0 0 0 -15px;

        width: calc(100% + 31px);
        --paper-slider-active-color: var(--tb-orange-strong);
        --paper-slider-knob-color: var(--tb-orange-strong);
        --paper-slider-knob-start-border-color: var(--tb-orange-strong);
        --paper-slider-knob-start-color: var(--tb-orange-strong);
        --paper-slider-markers-color: var(--tb-orange-strong);
        --paper-slider-pin-color: var(--tb-orange-strong);
        --paper-slider-pin-start-color: var(--tb-orange-strong);
}

#main-image-container {
  max-height: 1024px;
        overflow: auto;
}

#main-image-container img {
  cursor: pointer;
        display: block;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        width: 100%;
        height: auto;
}

paper-icon-button {
  color: #2196f3;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        padding: 4px;
}

paper-icon-button[selected] {
  background: var(--tb-ui-light-accent);
}

[hidden] {
  display: none;
}

